<div class="container">    
    <div class="row text-center" id="B">
        <div class="col-12 text-center" >
            <h1>Home Page</h1><hr>
        </div>
        <div class="col-6 text-center">
            <button type="button" class="btn btn-secondary" (click)="goToAlogin()" id="Adminlogin">Login as Admin</button>
        </div>
        <div class="col-6 text-center">
            <button type="button" class="btn btn-secondary" (click)="goToUlogin()" id="Userlogin">Login as User</button>
        </div>
    </div>
</div>